@media (max-width: 1200px) {
    .header {
        &-btn {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .personal {
        padding-left: 7px;
        padding-right: 7px;
        &-id {
            margin: 7px;
        }
    }
    .roadmap {
        padding-left: 7px;
        padding-right: 7px;
        &-img {
            width: 95vw;
        }
    }
    .block {
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
    .personal {
        &-row {
            gap: 30px;
        }
        &-id {
            height: 80px;
            width: 180px;
        }
        &-link {
            font-size: 18px;
        }
    }
    .roadmap {
        padding-left: 7px;
        padding-right: 7px;
        &-img {
            width: 95vw;
        }
    }
}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header {
        &-btn {
            font-size: 18px;
        }
    }
    .personal {
        &-row {
            gap: 15px;
        }
        &-id {
            margin: 0;
            height: 80px;
            width: 180px;
        }
        &-link {
            font-size: 18px;
        }
    }
    .roadmap {
        &-img {
            width: 90vw;
        }
    }
}